<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="NLogSample.txt">
  <extensions>
    <add assebly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" 
            name="logfile" 
            fileName="${basedir}/logs/log.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            archiveFileName="${basedir}/logs/archives/log.${longdate}.log"
            archiveAboveSize="5242880"
            writeHeaderWhenInitialFileNotEmpty ="true"
            archiveEvery="Day"
            archiveNumbering = "Date"
            maxArchiveDays="7"
            />
    <target xsi:type="File"
            name="debugfile"
            fileName="${basedir}/logs/log_dev.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            archiveFileName="${basedir}/logs/archives/log_dev.${longdate}.log"
            archiveAboveSize="5242880"
            writeHeaderWhenInitialFileNotEmpty ="true"
            archiveEvery="Day"
            archiveNumbering = "Date"
            maxArchiveDays="7"
            />
  </targets>

  <rules>
    <logger name="*" levels="Info,Error" writeTo="logfile" />
    <logger name="*" levels="Debug" writeTo="debugfile" />
  </rules>
</nlog>